.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
    overflow: hidden;
  }
  
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .head {
    font-size: large;
    color: aliceblue;
    margin-right: 550px;
  }
  
  .controlsContainer {
    display: flex;
    align-items: center;
  }
  
  .newPositionButton {
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 40px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .customDropdown select {
    width: 100px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
  }
  
  .customDropdown select:focus {
    outline: none;
    box-shadow: 0 0 2px #3498db;
  }
  
  .rectangle {
    width: 900px;
    height: 250px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 8px;
  }
  
  .centeredText {
    text-align: center;
    color: white;
  }
  