.swapcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
    border: 1px solid #323232;
}

.swappanel {
  background-color: #01000f;
  padding: 25px;
    border: 1px solid #24233d;
  border-radius: 30px;
  width: 30%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  overflow: auto;
}

.swapheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swapheader button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.swapsection {
  background-color: #151515 !important;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #323232;
}

.swapsection label {
  display: block;
  color: rgb(190, 190, 190);
  font-size: 2vh;
  font-weight: 500;
  margin-bottom: 10px;
}

.coinmodal {
  position: absolute;
  width: 45vh;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  padding:  15px 20px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.9;

}

.coinmodal button {
  background-color: #333;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;

}

.coinmodal input{
  background-color:transparent;
  color: aliceblue;
  border-radius: 5px;  
  width: 40vh;
  height: 4vh;
  margin-bottom: 2px;
  border: 1px solid white; 
}


.swapButton {
  display: block;
  width: 450px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: purple;
  cursor: pointer;
  margin-bottom: 20px;
}

.swapButtonDisb {
  display: block;
  width: 450px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: purple;
  cursor: pointer;
  margin-bottom: 20px;
  Opacity:0.8;
  cursor:not-allowed;
}

.receiveinput button{
  display: inline;
  padding: 10px 20px;
  border: 1px solid #323232;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #01000f;
}

.receiveinput input {
  width: 68%;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  border: 0px;
  background-color: #00000000;
  display:inline;
  font-size: 5vh;
}

.receiveinput input:focus {
  border: 0px solid #444;
  outline: none;
  background-color: #2a2a2a00;
}

.receiveinput input::-webkit-outer-spin-button,
.receiveinput input::-webkit-inner-spin-button {
        display: none;
}


.payinput button{
  display: inline;
  padding: 10px 20px;
  border: 1px solid #323232;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  background-color: #01000f;
}

.payinput input {
  display: inline;
  width: 68%;
  margin-right: 20px;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  color: white;
  background-color: #2a2a2a00;
  display:inline;
  font-size: 5vh;
}

.payinput input:focus {
  border: 0px solid #444;
  outline: none;
  background-color: #2a2a2a00;
}

.payinput input::-webkit-outer-spin-button,
.payinput input::-webkit-inner-spin-button {
        display: none;
}


.closebutton {
  position: absolute;
  top: 19px;
  right: 14px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;

}

