.swap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.swap-panel {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  overflow: auto;
}

.swap-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.swap-header button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.swap-section label {
  display: block;
  color: white;
  margin-bottom: 10px;
}

.coin-modal {
  position: absolute;
  width: 45vh;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1e1e1e;
  padding:  15px 20px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.9;

}

.coin-modal button {
  background-color: #333;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;

}

.coin-modal input{
  background-color:transparent;
  color: aliceblue;
  border-radius: 5px;  
  width: 40vh;
  height: 4vh;
  margin-bottom: 2px;
  border: 1px solid white; 
}


.connect-button {
  display: block;
  width: 100%;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: purple;
  cursor: pointer;
  margin-bottom: 20px;
}

.receive-input button{
  margin-bottom: 20px; 
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #333;
}

.receive-input input {
  width: 68%;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  background-color: #2a2a2a;
  display:inline;
}

.pay-input button{
  margin-bottom: 20px; 
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #333;
}

.pay-input input {
  width: 68%;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 8px;
  color: white;
  background-color: #2a2a2a;
  display:inline;
}

.close-button {
  position: absolute;
  top: 19px;
  right: 14px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;

}

