/* Navbar.module.css */

.navbar {
  display: flex;    
  padding: 14px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 1;
  max-width: 50px;
}

.links {
  flex: 1; 
  display: flex;
  justify-content: flex-start;
  list-style: none;
  text-decoration: none;
  padding: -0px 15px;
}

.links li {
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: initial;
  padding-right: 10px;
}

.links li a {
  transition: 0.3s; 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  text-decoration: none;
}

.links li a:hover {
  background-color: white;
  color: #8707ff;
}


.search {
  flex: 9px; /* Adjust the flex value for the search bar */
  align-items: center;
  width: fit-content;

}


.search input[type="text"] {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 55px;
  background: transparent;
  max-width: 150px;
  padding-inline-start: 10px;
}

.input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
  }

.button {
  flex: -1.5;
  text-align: right;
  float: right;
  align-self:auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .search {
    margin-top: 10px;
    flex: 10; /* Adjust the flex value for the search bar on smaller screens */
  }

  .button {
    margin-top: 10px;
    text-align: center;
  }
}
