/* Navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.logo {
  flex: 1;
  max-width: 60px;
}

.links {
  flex: 1; /* Reduce the flex value for the links */
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.links li {
  margin-right: 20px;
}

.search {
  flex: 2; /* Adjust the flex value for the search bar */
  text-align: center;
}

.search input[type="text"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.button {
  flex: 1;
  text-align: right;
  float: right;
  align-self:auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .search {
    margin-top: 10px;
    flex: 3; /* Adjust the flex value for the search bar on smaller screens */
  }

  .button {
    margin-top: 10px;
    text-align: center;
  }
}
