/* Navbar.module.css */

.navbar {
  display: flex;    
  padding: 14px;
  color: white;
  border: 1px solid gray;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.logo {
  flex: 1;
  max-width: 200px; 
  max-height: 200px;
}

.links {
  flex: 1; 
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.links li {
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: initial;
  padding-right: 10px;
}

.links li a {
  transition: 0.3s; 
  color: white; 
  padding: 10px; 
  border-radius: 5px; 
  text-decoration: none;
  align-items: center;
}

.links li a:hover {
  background-color: white;
  color: #8707ff;
}

.button {
  flex: -1.5;
  text-align: right;
  float: right;
  align-self:auto;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .links {
    justify-content: center;
  }

  .button {
    margin-top: 10px;
    text-align: center;
  }
}